.back-link{
  padding: 15px;
  text-align: center;
  background-color: white;
  border: solid 1px #e3e3e3;
  color: #8c8c8c;
}

.back-link:hover{
  border: solid 1px #9bd49d;
  text-decoration: none;
  color: #9bd49d;
}

.common-container{
  background-color: #f4f4f4;
  padding: 40px,
}

.custom-cont{
  border: 1px solid #e3e3e3;
  background-color: #fff;
  margin: 20px auto;
}

.custom-cont:hover{
  border: solid 1px #9bd49d;
}

.render-icon{
  display: block;
  border: solid 2px #e3e3e3;
  margin: 10px;
  margin-bottom: 30px;
}

.render-icon:hover{
  border: solid 2px #9bd49d;
}

.render-li{
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.render-ul{
  list-style: none;
  padding: 0;
}

.text-block{
  display: block;
  padding-left: 30px;
}

.artist-name{
  font-size: 10px;
  margin-top: 20px;
  color: #8c8c8c;
}

.artist-name:hover {
  cursor: pointer;
  color: #9bd49d;
}

.song-name{
  font-size: 20px;
  color: #8c8c8c;
}

.song-name:hover{
  cursor: pointer;
  color: #9bd49d;
}